<section class="pb-0 pt-6 circle-blend circle-blend-left circle-warning">
  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/footer-bg.png);
      background-position: center;
      background-size: cover;
    "
  ></div>
  <!--/.bg-holder-->

  <div class="container">
    <div
      class="row justify-content-lg-between circle-blend-right circle-danger"
    >
      <div class="col-6 col-sm-4 col-lg-auto mb-3">
        <h5 class="text-600 mb-3 fw-bold">About</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="mb-2">
            <a class="text-400 text-decoration-none" href="/about-us"
              >About Us</a
            >
          </li>

          <li class="mb-2">
            <a
              class="text-400 text-decoration-none"
              href="/about-us#what-we-publish"
              >What We Publish</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-400 text-decoration-none"
              href="/about-us#our-mission"
              >Our Mission</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-lg-auto mb-3">
        <h5 class="text-600 mb-3 fw-bold">Resources</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="mb-2">
            <a class="text-400 text-decoration-none" href="/copyright"
              >Copyright</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-400 text-decoration-none"
              href="/copyright/#legal-notices"
              >Legal Notice</a
            >
          </li>
          <li class="mb-2">
            <a class="text-400 text-decoration-none" href="/faq">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-lg-auto mb-3">
        <h5 class="text-600 mb-3 fw-bold">Team</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="mb-2">
            <a class="text-400 text-decoration-none" href="/our-team/"
              >Our Team</a
            >
          </li>
          <li class="mb-2">
            <a class="text-400 text-decoration-none" href="/#featured-authors"
              >Featured Authors</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-lg-auto mb-3">
        <h5 class="text-600 mb-3 fw-bold">Join Us</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="mb-2">
            <a
              class="text-400 text-decoration-none"
              href="/join-us/#application"
              >Application</a
            >
          </li>
          <li class="mb-2">
            <a class="text-400 text-decoration-none" href="/join-us/#submission"
              >Submission</a
            >
          </li>
        </ul>
      </div>
      <div class="col-9 col-sm-6 col-lg-auto mb-3">
        <h5 class="text-600 mb-3 fw-bold">Follow Us</h5>
        <ul class="list-unstyled list-inline my-3">
          <li class="list-inline-item">
            <a
              class="text-decoration-none"
              href="https://www.instagram.com/{{site.instagram_username }}"
              ><i data-feather="instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              class="text-decoration-none"
              href="https://www.twitter.com/{{site.twitter_username }}"
              ><i data-feather="twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              class="text-decoration-none"
              href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
              ><i data-feather="linkedin"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a class="text-decoration-none" href="mailto:{{ site.email }}"
              ><i data-feather="mail"></i
            ></a>
          </li>
        </ul>
        <!-- <p class="fw-semi-bold mt-4 mb-3">Subscribe to our newsletter</p>
        <label class="col-sm-2 col-form-label visually-hidden" for="inputEmail2"
          >Email</label
        >
        <div class="col-sm-12 input-group-icon">
          <input
            class="form-control rounded-pill border-white py-1 px-4"
            id="inputEmail2"
            type="email"
            placeholder="email"
          />
          <svg
            class="bi bi-envelope-fill input-box-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            fill="currentColor"
            viewBox="0 0 16 16"
            style="left: 0.8rem"
          >
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
            ></path>
          </svg>
        </div> -->

        <!-- Begin Mailchimp Signup Form -->
        <link
          href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css"
          rel="stylesheet"
          type="text/css"
        />

        <div>
          <form
            action="https://izimarkpublishing.us6.list-manage.com/subscribe/post?u=e87e927b6ee94c6ac24632da0&amp;id=445d80935e"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
            novalidate
          >
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL"
                >Subscribe us <span class="asterisk">*</span>
              </label>
              <div class="col-sm-12 input-group-icon">
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="required email form-control rounded-pill py-1 px-4"
                  id="mce-EMAIL"
                  placeholder="email"
                />
                <svg
                  class="bi bi-envelope-fill input-box-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="12"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  style="left: 0.8rem"
                >
                  <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
                  ></path>
                </svg>
              </div>
              <div id="mce-responses" class="clear">
                <div
                  class="response"
                  id="mce-error-response"
                  style="display: none"
                ></div>
                <div
                  class="response"
                  id="mce-success-response"
                  style="display: none"
                ></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px" aria-hidden="true">
                <input
                  type="text"
                  name="b_e87e927b6ee94c6ac24632da0_445d80935e"
                  tabindex="-1"
                  value=""
                />
              </div>
              <div class="clear">
                <input
                  type="submit"
                  value="Subscribe"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="btn hover-top btn-glow btn-klean mt-2"
                />
              </div>
            </div>
          </form>
        </div>
        <script
          type="text/javascript"
          src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
        ></script>
        <script type="text/javascript">
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = "EMAIL";
            ftypes[0] = "email";
          })(jQuery);
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <hr class="text-100 mb-0" />
    <div class="row justify-content-md-between justify-content-evenly py-3">
      <div
        class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start"
      >
        <p class="fs--1 my-2 fw-bold">
          All rights Reserved &copy; IziMarkPublishing, 2021
        </p>
      </div>
      <div class="col-12 col-sm-8 col-md-6">
        <p class="fs--1 my-2 text-center text-md-end">
          Made with&nbsp;
          <svg
            class="bi bi-suit-heart-fill"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            fill="#EB6453"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"
            ></path></svg
          >&nbsp;by&nbsp;<a
            class="fw-bold text-500"
            href="https://themewagon.com/"
            target="_blank"
            >ThemeWagon
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
