<nav
  class="
    navbar navbar-expand-lg navbar-light
    fixed-top
    py-3
    d-block
    navbar-klean
  "
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <a
      class="navbar-brand d-flex align-items-center fw-semi-bold fs-3"
      href="/"
    >
      <img class="me-3" src="/assets/img/logo.png" alt=""
    /></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto pt-2 pt-lg-0 font-base">
        <li class="nav-item dropdown">
          <!-- <a
            class="nav-link dropdown-toggle"
            href="/"
            id="menu-home"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Home</a
          >
          <ul class="dropdown-menu" aria-labelledby="menu-home">
            <li>
              <a class="dropdown-item" href="#our-mission">Our Mission</a>
            </li>
            <li>
              <a class="dropdown-item" href="#featured-authors"
                >Featured Authors</a
              >
            </li>
          </ul> -->
          <a class="nav-link" href="/" id="menu-home" aria-expanded="false"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/about-us"
            id="menu-about"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >About Us</a
          >
          <ul class="dropdown-menu" aria-labelledby="menu-about">
            <li><a class="dropdown-item" href="/about-us">Overview</a></li>
            <li>
              <a class="dropdown-item" href="/about-us#what-we-publish"
                >What We Publish</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/about-us#our-mission"
                >Our Mission</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/about-us#contact-us"
                >Contact Us</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/join-us">Join Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/our-team">Our Team</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="index.html"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Legal</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li><a class="dropdown-item" href="/copyright">Copyright</a></li>
            <li>
              <a class="dropdown-item" href="/copyright#legal-notices"
                >Legal Notice</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/faq"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >FAQ</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li><a class="dropdown-item" href="/faq">General</a></li>
            <li><a class="dropdown-item" href="/faq#business">Business</a></li>
            <!-- <li><a class="dropdown-item" href="/faq#steps">Step By Step</a></li> -->
          </ul>
        </li>
      </ul>
      <a href="/store" class="btn btn-outline-primary shadow-klean order-0">
        <i data-feather="shopping-cart"></i>
        <span class="fw-bold">Store</span>
      </a>
    </div>
  </div>
</nav>
