---
layout: default
title: Frequently Asked Questions
permalink: /faq/
---

<!-- Section:-->
<section class="pb-0">
  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/cta-bg.png);
      background-position: center;
      background-size: cover;
    "
  ></div>
  <!--/.bg-holder-->

  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/cta-bg-1.png);
      background-position: right top;
      background-size: auto;
      margin-top: -38px;
      margin-left: -200px;
    "
  ></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row flex-center">
      <div class="col-xxl-9 py-5 text-center">
        <h1 class="fw-bold mb-4 text-gradient fs-6">FAQ</h1>
        <p class="mx-xxl-11"><a href="/">Home</a> > FAQ</p>
      </div>
    </div>
  </div>
</section>
<!--=========================-->
<!--=========================-->
<!-- <section> begin ============================-->
<section class="py-0" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xxl-5 mx-auto text-center mt-5">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">
          Frequently Asked Questions
        </h5>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<!-- <section> begin ============================-->
<section class="py-5 mb-8circle-blend circle-blend-left circle-primary">
  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/product-bg-1.png);
      background-position: center;
      background-size: cover;
    "
  ></div>
  <!--/.bg-holder-->

  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/product-bg-2.png);
      background-position: left top;
      background-size: contain;
    "
  ></div>
  <!--/.bg-holder-->
  <div class="container mb-4">
    <h4 id="general">GENERAL FAQ</h4>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Who is IziMarkPublishing?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            We are a small, independent business committed to changing the world
            of publishing. We believe in investing in our Authors so that they
            can benefit from a zero-cost publishing journey. From our managers
            to designers to editors, we have a strong foundation created for
            success.   <br />
            We are based in Canada and with the power of the internet and
            technology we have been able to expand to several dozen team members
            to date. We look forward to continuing to build the network of
            Authors we have formed.
          </div>
        </div>
      </div>
      {% for item in site.data.general-faq %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_general_{{forloop.index}}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse_general_{{forloop.index}}"
            aria-expanded="true"
            aria-controls="collapse_general_{{forloop.index}}"
          >
            {{ item.question }}
          </button>
        </h2>
        <div
          id="collapse_general_{{forloop.index}}"
          class="accordion-collapse collapse"
          aria-labelledby="heading_general_{{forloop.index}}"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">{{ item.answer }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container mb-4">
    <h4 id="business">BUSINESS FAQ</h4>
    <div class="accordion" id="accordionExample">
      {% for item in site.data.business-faq %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_business_{{forloop.index}}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse_business_{{forloop.index}}"
            aria-expanded="true"
            aria-controls="collapse_business_{{forloop.index}}"
          >
            {{ item.question }}
          </button>
        </h2>
        <div
          id="collapse_business_{{forloop.index}}"
          class="accordion-collapse collapse"
          aria-labelledby="heading_business_{{forloop.index}}"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">{{ item.answer }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="container">
    <h4 id="steps">STEP BY STEP</h4>
    <div class="accordion" id="accordionExample">
      {% for item in site.data.step-by-step-faq %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_steps_{{forloop.index}}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse_steps_{{forloop.index}}"
            aria-expanded="true"
            aria-controls="collapse_steps_{{forloop.index}}"
          >
            {{ item.question }}
          </button>
        </h2>
        <div
          id="collapse_steps_{{forloop.index}}"
          class="accordion-collapse collapse"
          aria-labelledby="heading_steps_{{forloop.index}}"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">{{ item.answer }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> -->
</section>
<!-- <section> close ============================-->
