---
layout: default
title: Our team
permalink: /our-team/
---

<!-- Section:-->
<section class="pb-0">
  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/cta-bg.png);
      background-position: center;
      background-size: cover;
    "
  ></div>
  <!--/.bg-holder-->

  <div
    class="bg-holder"
    style="
      background-image: url(/assets/img/illustrations/cta-bg-1.png);
      background-position: right top;
      background-size: auto;
      margin-top: -38px;
      margin-left: -200px;
    "
  ></div>
  <!--/.bg-holder-->

  <div class="container">
    <div class="row flex-center">
      <div class="col-xxl-9 py-5 text-center">
        <h1 class="fw-bold mb-4 text-gradient fs-6">Our Team</h1>
        <p class="mb-6 mx-xxl-11"><a href="/">Home</a> > Our Team</p>
      </div>
    </div>
  </div>
</section>
<!--=========================-->
<!-- <section> begin ============================-->
<section class="py-0 pt-4" id="contact">
  <div class="container">
    <div
      class="bg-holder"
      style="
        background-image: url(/assets/img/illustrations/team-bg.png);
        background-position: left top;
        background-size: auto;
      "
    ></div>
    <div class="row">
      <div class="col-lg-7 col-xxl-5 mx-auto text-center mt-5">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">Our Team</h5>
        <p class="fs-1 mb-3 pe-xxl-8">
          One of our missions is to provide women a platform to achieve a voice
          world-wide. We are committed to publishing works of female Au-thors
          from around the world. We have an Instagram account dedicated to
          womens’ advancement, directed at forming a strong network of talented
          women authors. Our Author team is a support group with the goal of
          individual success.
        </p>
        <p class="fs-1 mb-3 pe-xxl-8">
          If you think you have what it takes to become an Author & you would
          like to join our team, please send us the first 100 words of your
          book. This will let us assess your writing skill and your project. If
          you have any questions comments or concerns please feel free to
          contact us directly at support@izimarkpublishing.com
        </p>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section
  id="team"
  class="pb-0"
  container
  container-lg-fluid
  container-xl="container container-lg-fluid container-xl"
>
  <div class="container">
    <div
      class="bg-holder"
      style="
        background-image: url(/assets/img/illustrations/team-bg.png);
        background-position: left top;
        background-size: auto;
      "
    ></div>
    <!--/.bg-holder-->

    <div
      id="female-authors"
      class="row justify-content-center mb-6 circle-blend circle-warning"
    >
      <div class="col-xxl-9">
        <div class="row flex-center g-0">
          {% assign female_authors = site.team | where: "tags","writer" %} {%
          for author in female_authors %}
          <div class="col-sm-6 col-lg-3 text-center">
            <div
              class="
                wrapper
                {%
                cycle
                'shadow-square-right', 'shadow-square-left'
                %}
              "
            >
              <img
                class="
                  {%
                  cycle
                  'team-card-1', 'team-card-2', 'team-card-3', 'team-card-4'
                  %}
                "
                src="{{author.photo }}"
                width="200"
                alt="..."
              />
            </div>

            <a href="{{author.url}}">
              <h5 class="fw-bold mt-3 mb-1">{{author.name}}</h5></a
            >
            <p>{{ author.position }}</p>
          </div>
          {% else %}
          <div class="col-sm-6 col-lg-3 text-center">
            <p>Coming Soon</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <div
      id="male-authors"
      class="row justify-content-center mb-6 circle-blend circle-warning"
    >
      <div class="col-lg-6 text-center mx-auto mb-7">
        <p class="mb-0">
          <span class="fw-bold">Male Authors</span>
        </p>
      </div>
      <div class="col-xxl-9">
        <div class="row flex-center g-0">
          {% assign male_authors = site.team | where: "tags","male" %} {% for
          author in male_authors %}
          <div class="col-sm-6 col-lg-3 text-center">
            <div
              class="wrapper {% cycle 'shadow-square-right', 'shadow-square-left' %}"
            >
              <img
                class="team-card-1"
                src="{{author.photo }}"
                width="200"
                alt="..."
              />
            </div>
            <a href="{{author.url}}">
              <h5 class="fw-bold mt-3 mb-1">{{author.name}}</h5></a
            >
            <p>{{ author.position }}</p>
          </div>
          {% else %}
          <div class="col-sm-6 col-lg-3 text-center">
            <p>Coming Soon</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div
      id="editors"
      class="row justify-content-center mb-6 circle-blend circle-warning"
    >
      <div class="col-lg-6 text-center mx-auto mb-7">
        <p class="mb-0">
          <span class="fw-bold">Editors</span>
        </p>
      </div>
      <div class="col-xxl-9">
        <div class="row flex-center g-0">
          {% assign editors = site.team | where: "tags","editor" %} {% for
          editor in editors %}
          <div class="col-sm-6 col-lg-3 text-center">
            <div
              class="wrapper {% cycle 'shadow-square-right', 'shadow-square-left' %}"
            >
              <img
                class="team-card-1"
                src="{{ editor.photo }}"
                width="200"
                alt="..."
              />
            </div>
            <a href="{{ editor.url}}">
              <h5 class="fw-bold mt-3 mb-1">{{editor.name}}</h5></a
            >
            <p>{{ editor.position }}</p>
          </div>

          {% else %}
          <div class="col-sm-6 col-lg-3 text-center">
            <p>Coming Soon</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div
      id="managers"
      class="row justify-content-center mb-6 circle-blend circle-warning"
    >
      <div class="col-lg-6 text-center mx-auto mb-7">
        <p class="mb-0">
          <span class="fw-bold">Managers</span>
        </p>
      </div>
      <div class="col-xxl-9">
        <div class="row flex-center g-0">
          {% assign managers = site.team | where: "tags","manager" %} {% for
          manager in managers %}
          <div class="col-sm-6 col-lg-3 text-center">
            <div
              class="wrapper {% cycle 'shadow-square-right', 'shadow-square-left' %}"
            >
              <img
                class="team-card-1"
                src="{{ manager.photo }}"
                width="200"
                alt="..."
              />
            </div>
            <a href="{{ manager.url}}">
              <h5 class="fw-bold mt-3 mb-1">{{manager.name}}</h5></a
            >
            <p>{{ manager.position }}</p>
          </div>

          {% else %}
          <div class="col-sm-6 col-lg-3 text-center">
            <p>Coming Soon</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div> -->
    <!-- <div
      id="executives"
      class="row justify-content-center mb-6 circle-blend circle-warning"
    >
      <div class="col-lg-6 text-center mx-auto mb-7">
        <p class="mb-0">
          <span class="fw-bold">Executives</span>
        </p>
      </div>
      <div class="col-xxl-9">
        <div class="row flex-center g-0">
          {% assign executives = site.team | where: "tags","executive" %} {% for
          executive in executives %}
          <div class="col-sm-6 col-lg-3 text-center">
            <div
              class="wrapper {% cycle 'shadow-square-right', 'shadow-square-left' %}"
            >
              <img
                class="team-card-1"
                src="{{ executive.photo }}"
                width="200"
                alt="..."
              />
            </div>
            <a href="{{ executive.url}}">
              <h5 class="fw-bold mt-3 mb-1">{{executive.name}}</h5></a
            >
            <p>{{ executive.position }}</p>
          </div>

          {% else %}
          <div class="col-sm-6 col-lg-3 text-center">
            <p>Coming Soon</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div> -->
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
