---
layout: default
---

<style>
  .home_banner_area .box_1620 {
    border-radius: 12px;
    position: relative;
    bottom: -40px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgb(153 153 153 / 30%);
  }
</style>

<section class="home_banner_area">
  <div class="container box_1620">
    <div class="row flex-center">
        <div class="col-auto">
          <div class="card product-card-bg">
            <div class="card-body p-4">
              <img
                class="img-fluid border-img"
                src="{{ page.photo }}"
                width="350"
                alt="..."
              />
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 ms-lg-auto my-7 my-lg-0 px-sm-8 px-lg-0 ps-lg-2 ps-xl-0"
        >
          <h1 class="fw-bold display-5 lh-sm my-4">
            {{ page.name }} 
          </h1>
          <span class="fw-bold">{{ page.position }}</span>
          <p class="fs-1 mb-3 pe-xxl-8">
            {{ content | markdownify }}
          </p>
          <!-- <a href="mailto:{{page.email}}"
            class="btn btn-link btn-klean-outline order-0"
            type="submit"
          >
            <span class="text-gradient fw-bold">Contact {{ page.name }} </span>
        </a> -->
    </div>
    {% assign books = site.store | where: "category","Book" %} 
      {% assign books_writer = books | where: "writer", page.name %} 
      {% if books_writer.size >0 %}
    <div class="row">
      <div class="col-lg-7 col-xxl-5 mx-auto mt-4">
        <h5 class="fw-bold fs-3 lh-sm mb-1">Books by {{ page.name }} </h5>
      </div>
    </div>
    <!-- BOOKS -->
    <div class="row">
      <!-- Start -->
      {% for book in
      books_writer %}
      <div class="col-md-3 py-5 text-center">
        <!-- product -->
        {{ book.content }}
        <!-- end product -->
      </div>
      {% endfor %}
      <!-- End-->
    </div>
    {% endif %}
  </div>
</section>
